.divLabels {
  border-radius: 5px;
  border: 1px solid rgb(21, 24, 24);
  height: 70px;
  margin: 0em;
  padding-left: 100px;
}

.classBold {
  font-weight: bold;
  font-Size: 20;
  text-align: center;
}

.centerStyle {
  text-align: center;
}

.alinharCampos {
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

table {
  border: 1px grey solid !important;
}

th,
td {
  border: 1px grey solid !important;
}

tr:hover {
  background-color: rgb(211, 221, 226) !important;
}