.divLabels {
  border-radius: 5px;
  border: 1px solid rgb(21, 24, 24);
  height: 70px;
  /* flex-direction: row; */
  margin: 0em;
  /* text-align: center; */
  padding-left: 100px;
}

.classBold {
  font-weight: bold;
  font-Size: 20;
}

.rightStyle {
  text-align: right;
}

.input-field input:focus+label {
  color: #64B5F6 !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #64B5F6 !important;
  box-shadow: 0 1px 0 0 #64B5F6 !important
}

.alinharCampos {
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}